/*data html*/

* {
	font-family: "Arial";
}

html {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
	width: 0px;
}


/*The nav*/

.nav {
	width: 100%;
	height: 60px;
	background: #019FE9;
	position: fixed;
	z-index: 999;
}

.nav_left {
	width: 100px;
	height: 60px;
	line-height: 50px;
	float: left;
}

.nav_left a p {
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 4px;
	margin-left: 10px;
	font-weight: bold;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.nav_right {
	width: 92%;
	height: 60px;
	float: right;
	line-height: 60px;
	background: #019FE9;
}

.nav_right li {
	float: left;
	height: 56px;
	margin-left: 12px;
	font-size: 14px;
	color: #fff;
}


/*The main*/
#loadgif {
	width: 90px;
	height: 90px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999999;
    display: none;
}

/*main list*/

.data_cont {
	width: 28%;
	/*height: 90%;*/
	height: 920px;
	overflow: auto;
	overflow-x: hidden;
	background: #F3F4F6;
	position: relative;
    top: 60px;
}

.data_title {
	width: 340px;
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
}

.data_title span {
	font-size: 16px;
	color: #4A4A4B;
	text-align: left;
	font-weight: bold;
}

.data_opt {
	width: 340px;
	height: 42px;
	margin: 0 auto;
	margin-top: 23px;
	border-radius: 4px;
	background: #019FE9;
	cursor: pointer;
}

#data_opt_list0 {
	width: 160px;
	height: 42px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	float: left;
}

#data_opt_list1 {
	width: 160px;
	height: 42px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	float: right;
}

.data_opt_time {
	width: 340px;
	height: auto;
	margin: 0 auto;
	margin-top: 23px;
}

.data_opt_time_one {
	width: 340px;
	height: auto;
}

.data_opt_time_two {
	width: 340px;
	height: auto;
	display: none;
}

.active {
	background: #0054AE;
}

.data_opt_time li {
	width: 340px;
	height: auto;
}

.data_opt_time1 {
	width: 160px;
	height: 70px;
	float: left;
}

.data_opt_time1 span {
	width: 160px;
	height: auto;
	font-size: 14px;
	color: #4A4A4B;
	float: left;
}

.data_opt_time1 {
	font-size: 13px;
	color: #4A4A4B;
}

.data_opt_time_li1 {
	width: 150px;
	height: 35px;
	margin-top: 5px;
	border: 1px solid #B5B5B7;
	float: left;
	background: #F3F4F6;
	cursor: pointer;
}

.data_opt_time_li1 input {
	width: 124px;
	height: 35px;
	border: none;
	background: #F3F4F6;
	color: #4A4A4B;
	cursor: pointer;
}

.data_opt_date_img {
	width: 16px;
	height: 16px;
	background-image: url(../img/date.png);
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.data_opt_time2 {
	width: 160px;
	height: 70px;
	float: right;
}

.data_opt_time2 span {
	width: 160px;
	height: auto;
	font-size: 14px;
	color: #4A4A4B;
	float: left;
}

.data_opt_time_li2 {
	width: 150px;
	height: 35px;
	margin-top: 5px;
	border: 1px solid #B5B5B7;
	float: left;
	background: #F3F4F6;
	cursor: pointer;
}

.data_opt_time_li2 input {
	width: 124px;
	height: 35px;
	border: none;
	background: #F3F4F6;
	color: #4A4A4B;
	cursor: pointer;
}

.data_opt_time_img {
	width: 16px;
	height: 16px;
	background-image: url(../img/time.png);
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.data_opt_ul {
	width: 340px;
	height: auto;
	float: left;
}

.data_opt_ul_one {
	width: 340px;
	height: auto;
}

.data_opt_ul_two {
	width: 340px;
	height: auto;
	display: none;
}

.data_opt_ul_title span {
	font-size: 14px;
	color: #858585;
	text-align: left;
	margin-top: 10px;
	display: block;
}

.data_opt_ul_ck {
	width: 340px;
	height: 35px;
	margin: 0 auto;
	margin-top: 12px;
	border-radius: 4px;
	cursor: pointer;
}

#data_opt_ul_ck0 {
	width: 134px;
	height: 35px;
	line-height: 42px;
	font-size: 16px;
	font-weight: 100;
	color: #4A4A4B;
	text-align: center;
	float: left;
}

#data_opt_ul_ck0 input {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}

#data_opt_ul_ck1 {
	width: 140px;
	height: 35px;
	line-height: 42px;
	font-size: 16px;
	font-weight: 100;
	color: #4A4A4B;
	text-align: center;
	float: right;
	margin-right: 20px;
}

#data_opt_ul_ck1 input {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}

#data_opt_ul_ck2 {
	width: 134px;
	height: 35px;
	line-height: 42px;
	font-size: 16px;
	font-weight: 100;
	color: #4A4A4B;
	text-align: center;
	float: left;
}

#data_opt_ul_ck2 input {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}

#data_opt_ul_ck3 {
	width: 140px;
	height: 35px;
	line-height: 42px;
	font-size: 16px;
	font-weight: 100;
	color: #4A4A4B;
	text-align: center;
	float: right;
	margin-right: 20px;
}

#data_opt_ul_ck3 input {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}


.data_cont_btn {
	width: 88px;
	height: 38px;
	border: 1px solid #01A6FF;
	border-radius: 28px;
	background: #01A6FF;
	float: left;
	text-align: center;
	line-height: 38px;
	margin-top: 20px;
	margin-left: 37%;
	cursor: pointer;
}

.data_cont_btn span {
	font-size: 18px;
	color: #fff;
}

.download_cont_btn {
	width: 141px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-left: 37%;
	float: left;
}

.dow {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: 100;
	color: #4A4A4B;
	text-align: center;
	margin-left: 6%;
	float: left;
}


.download_cont_btn input {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	float: left;
	margin-top: 8px;
	cursor: pointer;
}


/*data table*/

.data_table {
	width: 70%;
	height: 920px;
	position: absolute;
	right: 0;
	top: 60px;
	overflow: auto;
	overflow-x: hidden;
}
.chart_exit{
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
	margin-top: 10px;
    z-index: 100;
}
#container_1 {
	margin-top: 50px;
}

#container_2 {
	margin-top: 20px;
}


/*The footer*/

.footer {
	width: 100%;
	height: 100px;
	background: #EDEDED;
	position: relative;
	z-index: 999;
	top: 60px;
}

.footer_left {
	width: 320px;
	height: 60px;
	float: left;
	margin-left: 20px;
	margin-top: 25px;
	background: #EDEDED;
}

.footer_left p {
	color: #A8A7A4;
	font-size: 17px;
}

.footer_right {
	width: 150px;
	height: 90px;
	float: right;
	margin-right: 17px;
	background-image: url(../img/geo.png);
	background-repeat: no-repeat;
	background-size: 150px 90px;
}